<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <section class="bookmark">
    <h1>Bookmarked Segments</h1>
  </section>

  <%= link_to "Connect to GitHub", "/auth/github" %>

  <% unless current_user.github_token.nil? %>
    <section class="github">
      <h1>GitHub</h1>

      <div class="repository-list">
        <% facade.repositories.each do |repo| %>
          <ul>
            <li class="repository-list-link"><%= link_to(repo.name, repo.html_url) %></li>
          </ul>
        <% end %>
      </div>

      <section class="follower">
        <h1>Followers</h1>
        <div class="follower-list">
          <% facade.followers.each do |follower| %>
          <ul>
            <li class="follower-list-link"><%= link_to(follower.login, follower.html_url) %></li>
          </ul>
          <% end %>
        </div>
      </section>

      <section class="following">
        <h1>Following</h1>
        <div class="following-list">
          <% facade.followings.each do |following| %>
          <ul>
            <li class="following-list-link"><%= link_to(following.login, following.html_url) %></li>
          </ul>
          <% end %>
        </div>
      </section>
    </section>
  <% end %>
</section>
