<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <% if current_user.email_confirmed %>
      <li>Status: Active</li>
    <% else %>
      <li>Status: Inactive</li>
    <% end %>
  </ul>

  <section class="bookmark">
    <h1>Bookmarked Segments</h1>
    <% unless facade.bookmarked_videos.nil? %>
      <ul>
        <% facade.bookmarked_videos.each do |video| %>
          <li> <%= link_to(video.title, tutorial_path(video.id)) %> - <%= video.tutorial.title %> </li>
        <% end %>
      </ul>
    <% end %>
  </section>

  <% unless current_user.github_token %>
    <%= link_to "Connect to GitHub", "/auth/github" %>
  <% end %>

  <% unless current_user.github_token.nil? %>

    <div class='invite'>
      <%= form_tag '/invite' do %>
        Enter Your Friend's Github handle: <%= text_field_tag :github_handle %>
        <%= submit_tag "Invite Them" %>
      <% end %>
    </div>

    <section class="github">
      <h1>GitHub</h1>
      <section class="repository">
        <h3>Repositories</h3>
        <% if facade.repositories.empty? %>
          <p>You currently have no repositories.</p>
        <% end %>
        <div class="repository-list">
          <% facade.repositories.each do |repo| %>
            <ul>
              <li class="repository-list-link"><%= link_to(repo.name, repo.html_url) %></li>
            </ul>
          <% end %>
        </div>
      </section>

      <section class="follower">
        <h3>Followers</h3>
        <% if facade.followers.empty? %>
          <p>You're not following anyone.</p>
        <% end %>
        <div class="follower-list">
          <% facade.followers.each do |follower| %>
          <ul>
            <li class="follower-list-link"><%= link_to(follower.login, follower.html_url) %></li>
          </ul>
          <% end %>
        </div>
      </section>

      <section class="following">
        <h3>Following</h3>
        <% if facade.followings.empty? %>
          <p>No one is following you.</p>
        <% end %>
        <div class="following-list">
          <% facade.followings.each do |following| %>
          <ul>
            <li class="following-list-link"><%= link_to(following.login, following.html_url) %></li>
          </ul>
          <% end %>
        </div>
      </section>
    </section>
  <% end %>
</section>
